/* #2272FF */
body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    margin: 0;

    
    /* #2B2E33 */
}

.sobrePonerColor{
    background-color:   #040f1f7b   ;
}

*{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1{
    font-weight: 700;
}

nav{
    background-color: #044767;
    padding: 0 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}


nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

ul{
    list-style-type: none;
}

li{
    padding: 0 20px;
}


/* Titulos de separacion de secciones */
.titulosIntermedios{
    background-color: #044767;
    padding: 0 20px;
    border-radius: 10px;
    text-align: center;
}



.tituloPrincipal, .proyectos{
    padding: 20px 10%;
}

.tituloPrincipal span{
    font-size: 30px;
}



