/* #2272FF */
body{
    margin: 0;
    height: 100%;
    width: 100%;
    background: url("../img/fondo.jpg") no-repeat fixed ;
    background-size: cover; 
    position: relative;
}
 /* #2B2E33 */

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2273ff1f;
    z-index: -1;
}

*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}


main{
    padding-top: 90px;
}

h1{
    font-weight: 600;
    /* font-size: 1.6rem; */
}

a{
    text-decoration: none;
}


/*  Inicio Títulos de separación de secciones */
.titulosIntermedios {
    /* Modelo de caja */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;

    /* Apariencia */
    background-color: #044867f3;
}
/* Fin Títulos de separación de secciones */

section{
    margin: 50px auto;
}

@media (width < 690px) {
    section{
        margin: 25px auto;
    }
}


/* Estilos del contenedor de habilidades */
.habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los logos se envuelvan en pantallas pequeñas */
}

/* Estilos de los logos de habilidades */
.logo {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px #0009;
}

/* Estilos de las imágenes dentro de los logos */
.logo img {
    width: 100%;
    height: 100%;
}

/* Media Queries para la sección de logos */
@media (max-width: 600px) {
    .logo {
        width: 70px;
        height: 70px;
    }
}


.bicicleta, .programar{
    width: 515px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #506280;
    border-radius: 30px;
    box-sizing: border-box;
}

.bicicleta h1, .programar h1{
    margin: 0px 0px 20px;
}
.video, .imagenProgramacion{
    border-radius: 30px;
    width: 470px;
    height: 264px;
}

.imagenProgramacion{
    background-image: url('../img/programacion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.botonContacto{
    cursor: pointer;
    color: #2272FF;
    margin: 20px;
    font-size: 50px;
}

.botonContacto:hover{
    color: #3F76D4;
}

footer{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #434954;
    text-align: center;
}

footer a{
    margin: 0 20px;
    color: #434954;
}
    