/* #2272FF */
body{
    margin: 0;
    height: 100%;
    width: 100%;
    background: url("../img/fondo.jpg") no-repeat fixed ;
    background-size: cover; 
    position: relative;
}
 /* #2B2E33 */

body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2273ff1f;
    z-index: -1;
}

*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}


main{
    padding-top: 90px;
}

h1{
    font-weight: 600;
    /* font-size: 1.6rem; */
}

a{
    text-decoration: none;
}



/*  Inicio Títulos de separación de secciones */
.titulosIntermedios {
    /* Modelo de caja */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;

    /* Apariencia */
    background-color: #044867f3;
}
/* Fin Títulos de separación de secciones */

section{
    margin: 50px auto;
    /* border: 5px solid red; */
}

/* Inicio Estilos del contenedor del perfil */
.perfil{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 50px;

    background-color: #506280f9;
    border-radius: 30px;
}

.imagenPerfil{
    width: 250px;
    height: 250px;

    background: url("../img/perfil.png") no-repeat center;
    background-size: contain;
    border-radius: 100%;
}

.frasePrincipal{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 250px;

    border-radius: 30px;
    line-height: 35px;
}


/* Fin Estilos del contenedor del perfil */


.proyectos, .pasiones {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-items: center;
}

@media (width < 690px) {
    .pasiones {
        grid-template-columns: 1fr ;
    }
}






.habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 130px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.907);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.625);
}

.logo img{
    height: 130px;
    width: 130px;
}


.bicicleta, .programar{
    width: 515px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #506280;
    border-radius: 30px;
    box-sizing: border-box;
}

.bicicleta h1, .programar h1{
    margin: 0px 0px 20px;
}
.video, .imagenProgramacion{
    border-radius: 30px;
    width: 470px;
    height: 264px;
}

.imagenProgramacion{
    background-image: url('../img/programacion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.botonContacto{
    cursor: pointer;
    color: #2272FF;
    margin: 20px;
    font-size: 50px;
}

.botonContacto:hover{
    color: #3F76D4;
}

footer{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #434954;
    text-align: center;
}

footer a{
    margin: 0 20px;
    color: #434954;
}
    